<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="server=.;database=PopeyeMaster;uid=sa;pwd=sa" providerName="System.Data.SqlClient"/>
    <add name="LogConn" connectionString="Conn"/>
  </connectionStrings>
  <appSettings>
    <add key="IsWriteLog" value="true" />
    <add key="LogPath" value="Log/"/>
    <add key="OpenDebugInfo" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommonService" />
        <binding name="BasicHttpBinding_IBaseFileService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2956/CommonService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICommonService" contract="CommonService.ICommonService"
        name="BasicHttpBinding_ICommonService" />
      <endpoint address="http://localhost:2956/BaseFileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBaseFileService"
        contract="BaseFileService.IBaseFileService" name="BasicHttpBinding_IBaseFileService" />
    </client>
  </system.serviceModel>
</configuration>